<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.yourorganization.maven_sample.FourthUser" />
			<class name="com.yourorganization.maven_sample.FifthUser" />
			<class name="com.yourorganization.maven_sample.SecondUser" />
			<class name="com.yourorganization.maven_sample.ThirdUser" />
			<class name="com.yourorganization.maven_sample.LogicPositivizer" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
	
			
			